<<<<<<< HEAD

            <table style="width:100%;   border:1px none silver;" >
                <tr>
                    <td style="width: 33%;  text-align:left ; " >&copy;FFLSAS {{ "now"|date("Y") }}</td>
                    <td style="width: 34%; text-align:center ;">    <span class="page-number">Page </span></td>
                    <td style="width: 33%; text-align:right ;"> generated {{ "now"|date("Y m d") }}</td>
                </tr>
            </table>
>

=======
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contrat Thuasne Services</title>
        <script>
            /* page counter */
            function subst() {
                var vars={};
                var x=document.location.search.substring(1).split('&');
                for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
                var x=['topage','page'];
                for (var i in x) {
                    var y = document.getElementsByClassName(x[i]);
                    for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
                }
            }
        </script>
    </head>
    <body onload="subst()">
    <hr/>
        <footer>
            <table style="width:100%;   border:1px solid silver;" >
                <tr>
                    <td style="width: 33%;  text-align:left ; " >&copy;FFLSAS {{ "now"|date("Y") }}</td>
                    <td style="width: 34%; text-align:center ;"><span class="page"></span>/<span class="topage"></span></td>
                    <td style="width: 33%; text-align:right ;"> generated {{ "now"|date("Y m d") }}</td>
                </tr>
            </table>
        </footer>
    </body>
</html>
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
