/.web-server-pid
/composer.json
/composer.lock
/tests/
/app/config/parameters*.*
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
/web/bundles/*
/web/common/*.xcf
/web/newimages/*
/recapture.txt
/app/config/*parameters*.*
/*.tar.*
/*.sh
/*.tar
/*.tar.gz
/translations/*.*~

