


  

div#contacts
{
    
   margin-top :0.5em;
   font-size :1em;
   color : blue;
}

div#contacts div.heading
{
    display:flex;
}

div#contacts div.fuserlist div.user div.deletebutton
{
   # margin-left:auto;
}

div#contacts div.deletebutton a {
    padding: 4px;
    display: inline;
    border-radius: 7px;
    border: 0;
    margin: 0 10px;
    background: red;
    font-size: 12px;
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
    text-decoration: none;
}


div#contacts div.fuserlist div.user
{
    display:flex;
}





div#contacts div.contact
{
       display:flex;
}
