


  

div#biblo
{
    
   margin-top :0.5em;
   font-size :1em;
   color : red;
}

div#biblo div.heading
{
    display:flex;
}

div#biblo div.userdata div.datarow
{
    display:flex;
}

div#xbiblo div.form form div
{
    display:flex;
}

div#biblo div.form form div label
{
    xcolor: yellow;
    width: 138px;
}

div#xbiblo div.form form div label.required
{
    color: yellow;
    width: 138px;
}

 div#xbiblo div.form form div input
 {
    
 }
 
divx#biblo div.form form div
{
    
}
