
<<<<<<< HEAD
div#pdf_person  div.heading div.title {
=======
div#person  div.heading div.title {
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
    color: maroon;
    font-size: 2.0em;
    margin-right: 1em;
 }
 
 
<<<<<<< HEAD
 div#pdf_person a, a:visited, a:link {
=======
 div#person a, a:visited, a:link {
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
    text-decoration: none;
    color: blue;
}

<<<<<<< HEAD
div#pdf_person div.pageheading
=======
div#person div.pageheading
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    display:flex;
    xalign-items: center;
}

<<<<<<< HEAD
div#pdf_person div.pageheading
{
    display:flex;
    xalign-items: center;
}



div#pdf_person > div
=======




div#person > div
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    xmargin-left: 5em;
    margin-top: 20px;
}




<<<<<<< HEAD
div#pdf_person div.text
=======
div#person div.text
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    margin-left: 5em;
    font-size: 1em;
    margin-top: 20px;
}


<<<<<<< HEAD
div#pdf_person div.text p
{
    margin-top:1px;
    margin-bottom : 1px;
    color:green;
    border: 0 none red;
=======
div#person div.text p
{
    margin-top:5px;
    margin-bottom : 5px;
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
}





<<<<<<< HEAD
xdiv#pdf_person div.eventtree a
=======
xdiv#person div.eventtree a
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    color:blue;
    text-decoration:none;
}


<<<<<<< HEAD
xdiv#pdf_person div.eventtree ul li a
=======
xdiv#person div.eventtree ul li a
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    text-decoration:none;
}

<<<<<<< HEAD
div#pdf_person div.eventtree ul li div.incident
=======
div#person div.eventtree ul li div.incident
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    margin-left: 1em;
}

<<<<<<< HEAD
div#pdf_person div.eventtree ul li div.incident > a
=======
div#person div.eventtree ul li div.incident > a
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    color: white;
}

<<<<<<< HEAD
div#pdf_person div.eventtree ul li div.incident > a:hover
=======
div#person div.eventtree ul li div.incident > a:hover
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    color: blue;
}

div.image
{
    max-width: 138px;
    flex-grow: 1;
    
    
}

<<<<<<< HEAD
div#pdf_person div.imagegroup
=======
div#person div.imagegroup
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    display: table;
    xflex-direction: row;
   xflex-wrap: wrap;
    xjustify-content: space-evenly;
    border: 0px solid red;
    width : 100%;
}

<<<<<<< HEAD
div#pdf_person div.imagegroup div.imagerow 
=======
div#person div.imagegroup div.imagerow 
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
   display:table-row;
   
}
<<<<<<< HEAD
div#pdf_person div.imagegroup div.image 
=======
div#person div.imagegroup div.image 
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
   display:table-cell;
   
}

<<<<<<< HEAD
div#pdf_person div.imagegroup div.image img
=======
div#person div.imagegroup div.image img
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    margin:10px;
    max-width:150px;
    max-height:150px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

<<<<<<< HEAD
div#pdf_person div.imagegroup div.imagelabel
=======
div#person div.imagegroup div.imagelabel
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    text-align: center;
    vertical-align: middle;
    color:blue;
    font-size:1em;
}




<<<<<<< HEAD
div#pdf_person div.eventtree
=======
div#person div.eventtree
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
{
    font-size : 1em;
    margin-left: 2em;
    color : black;
    margin-top:40px;
}



<<<<<<< HEAD
div#pdf_person div.eventtree ul li div.incident > a {
=======
div#person div.eventtree ul li div.incident > a {
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768

    color: red;

}

<<<<<<< HEAD
div#pdf_person a, a:visited, a:link {
=======
div#person a, a:visited, a:link {
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768

    text-decoration: none;
    color: black;

}

<<<<<<< HEAD

            /** 
                Set the margins of the page to 0, so the footer and the header
                can be of the full height and width !
             **/
            @page {
                margin: 0cm 0cm;
            }

            /** Define now the real margins of every page in the PDF **/
            body {
                margin-top: 2cm;
                margin-left: 2cm;
                margin-right: 2cm;
                margin-bottom: 2cm;
            }

            /** Define the header rules **/
            header {
                position: fixed;
                top: 0cm;
                left: 0cm;
                right: 0cm;
                height: 2cm;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 1.5cm;
            }
            
            

            /** Define the footer rules **/
            footer {
                position: fixed; 
                bottom: 0cm; 
                left: 0cm; 
                right: 0cm;
                height: 2cm;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 1.5cm;
            }
     
            footer .page-number:after { content: counter(page); }
=======
>>>>>>> d5a749a5d181947ac3915b72f1a23e2f4b65f768
