{# views/message/rereg_notice_fr.html.twig #}
<div class="heading"> 
 <div class= "label" >Re-registration'</div>
</div>
<div class= "bodytext">
   To continue using the site FFLSAS.org you will need to reregister.
</div>
<div class= "bodytext">
   Either Visite the site and eneter the {{code}}
   when asked or click on the following link;
   </div>
<div class= "bodytext">
  <a href=" {{reglink}}" >Re-register</a>
</div>

