div.form {
margin-top:20px;
}

div.form div label.required {
color:red;
font-size:1em;
width:10em;
}

div.form form div {
align-items:center;
display:flex;
flex-direction:row;
padding-right:9px;
text-align:right;
}

div.form form div div {
display:block;
}

div.form form div label {
color:#FF0;
display:block;
font-size:1em;
padding-right:9px;
width:10em;
}

div.form form row {
display:flex;
}

div.form form row label,div.form form div label.required {
color:#FF0;
font-size:1em;
width:10em;
}

input#complete_reg_form_newregistrationcode
{
    height: 1em;
    -moz-appearance:textfield;
}

