{# views/message/template/en/registrationcompletion.html.twig #}

<div class="messageheading"> 
 <div class="label">Registration</div>
</div>
<div class="bodytext">
 You have sucessfully completed the registration process.
</div>

<div class= "bodytext">
 
</div>

