{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Registration Refused</div>
</div>
<div class="bodytext">
The administrator has refused your application to join the Site FFLSAS.

</div>

<div class= "bodytext">
 
</div>

