{# views/message/template/en/rereg_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Re-register</div>
</div>
<div class="bodytext">
   To continue using the site FFLSAS.org you will need to reregister.
</div>
<div class="bodytext">
   Either visit the site and enter the code <{{code}}>  when asked.
</div>
<div class="bodytext">  
   Or click on the following link;
</div>
<div class="link">
  <a href="{{reglink}}" >Re-register</a>
</div>
<div class= "bodytext">
 You will need to enter a new password twice when asked.
</div>


