{# views/message/template/en/resetpassword_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Password reset request</div>
</div>
<div class="bodytext">
   You have asked to change your password.
</div>
<div class="bodytext">
   Either visit the site and enter the code <{{code}}>  when asked.
</div>
<div class="bodytext">  
   Or click on the following link;
</div>
<div class="link">
  <a href="{{reglink}}" >Change Password</a>
</div>
<div class= "bodytext">
 You will need to enter a new password twice when asked.
</div>


