{# views/message/template/emailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr >
<td colspan="3" >You have recieved this email because you are inscribed on FFLSAS.org web site </td>
</tr>
<tr>
<td class="left"><a href="{{webroot}}/deregister">De-register</a> </td>
<td class="middle"><a href="{{webroot}}">FFLSAS.ORG</a>  </td>
<td class="right"  ><a href="{{webroot}}/en/content/194">confidentiality statement</a> </td>
</tr>
</table>
</div>
