


div#user div.userlist
{
    height:400px;
    width:90%;
    max-width:400px;
    margin-left: 1em;
    overflow:hidden; 
    overflow-y:scroll;
   border: 1px solid yellow;
}

div#user div.userlist div div.user a
 {
    line-height: 26px;
    margin-bottom:5px;
    color:blue;
    text-decoration:none;
    margin-bottom:5px;
 }

div#user div.userlist div div.user a.editbutton
{
    color:white;
}
 


 div#xuser div.userlist div div.user.row:nth-child(2n+2) {  
  xbackground-color: #ccc;
  xbackground: rgba(0, 0, 80, 0.1)
}
