

  

div#fuser
{
    
   margin-top :0.5em;
   font-size :1em;
   color : red;
}

div#fuser div.heading
{
    display:flex;
}

div#fuser div.userdata 
{
    margin-top:20px;
}

div#fuser div.userdata div.datarow
{
    display:flex;
}

div#fuser div.userform form div
{
    display:flex;
}

div#fuser div.userform form div label
{
    color: yellow;
    width: 138px;
}



 div#fuser div.messagelist
 {
     margin-top:20px;
 }


div#fuser div.message
{
       display:flex;
       color:blue;
}

div#fuser div.messagelist div.message div.sentto
{
    xwidth:10em;
    margin-left:2em;
} 
div#fuser div.messagelist div.message div.subject
{
    xwidth:10em;
    margin-left:1em;
}


div#fuser div.messagelist div.message div.date
{
    xwidth : 10em;
    margin-left:1em;
}

div#fuser div.messagelist div.message div.message
{
    xwidth:10em;
    margin-left:1em;
}
