{# views/message/template/fr/emailvalidationcomplete.html.twig #}
<div class="messageheading"> 
 <div class="label">Enregistrer</div>
</div>
<div class="bodytext">
Vous avez confirmé avec succès votre adresse e-mail. L'administrateur examinera votre demande et sera bientôt en contact.
</div>

<div class= "bodytext">
 
</div>

