{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Enregistrer Rejete</div>
</div>
<div class="bodytext">
L'administateur n'a pas aprouve votre adherence au site FFLSAS. 

</div>

<div class= "bodytext">
 
</div>

