{# views/message/template/fr/registrationcompletion.html.twig #}
<div class="messageheading"> 
 <div class="label">Enregistrer Reusite</div>
</div>
<div class="bodytext">
L'administateur a aprouve votre adherence au site FFLSAS. Nous eperons que notre site vous plaisez et vous invitons de nous faire des observations ou contributions.

</div>

<div class= "bodytext">
 
</div>

