{# views/message/template/fr/emailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr>
<td colspan="3" >Vous avez reçu cet email car vous êtes inscrit sur le site web FFLSAS.org</td>

</tr>
<tr>
<td ><a href="{{webroot}}/deregister/{{userid}}">Désinscrire</a> </td>
<td class="middle"><a href="{{webroot}}/fr/login">FFLSAS.ORG</a>  </td>
<td ><a href="{{webroot}}/en/content/194">Declaration de confidentialité</a> </td>
</tr>
</table>
</div>
