


  

div#urls
{
    
   margin-top :0.5em;
   font-size :1em;
   color : red;
}

div#urls div.heading
{
    display:flex;
}

div#urls div.userdata div.datarow
{
    display:flex;
}

div#urls div.userform form div
{
    display:flex;
}

div#urls div.userform form div label
{
    color: yellow;
    width: 138px;
}

div#urls div.urllist div div.url.row:nth-child(2n+2) {
    xbackground-color: #ccc;
    background: rgba(0, 0, 80, 0.1);
}
