


  

div#url
{
    
   margin-top :0.5em;
   font-size :1em;
   color : red;
}


div#url div.datalist
{
     margin-top:20px;
}


div#url  div.datarow div.label
{
    width: 138px;
}

 xdiv#urls div.urllist div.url.row:nth-child(2n+2) {
    xbackground-color: #ccc;
    background: rgba(0, 0, 80, 0.1);
}

div#url div.visitbutton 
{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

div#url div.visitbutton a
{
   font-size:20pt;;
}
