
div#content
{
    background-color: rgba(76, 76, 76, 0.1);
    padding: 10px;
}

 div#content
{
    background-color: #8093b7;
}

div#content div.maintext
{
    margin-right:1em;
    
}


div#content div.maintext p strong
{
    font-size: 1.5em;
    font-weight: bold;
}

div#content div.maintext blockquote
{
    font-size: 1em;
    xfont-weight: bold;
    margin-top: 0em;
    margin-bottom: 0em;
   font-style: italic;
}

div#content div.contentlist div div.content a
 {
    line-height: 26px;
    margin-bottom:5px;
    color:blue;
    text-decoration:none;
    margin-bottom:5px;
 }

div#content div.contentlist div div.content a.editbutton
{
    color:white;
}
 
 
div#content div.contentlist
{
    height:400px;
    width:90%;
    margin-left: 1em;
    overflow:hidden; 
    overflow-y:scroll;
   border: 1px solid yellow;
}




div#editcontent div.maintext
{
    margin-top:20px;
    width: 600px;
    xheight: 200px;
    max-height: 200px;
    xbackground-color: #eee;
    overflow: hidden;
    border: 5px solid gray;
    
}

 
 div#contentedit
 {
     margin-bottom: 40px;
 }
 

#dont know what these are for

div.modal div.note-btn-group.btn-group div.dropdown-menu {
display: none !important;
}

div.modal div.note-btn-group.btn-group.show div.dropdown-menu {
display: block !important;
overflow-y: scroll;
max-height: 250px;
left: 0;
}
