


div#editcontent div.maintext
{
    margin-top:20px;
    width: 600px;
    xheight: 200px;
    max-height: 200px;
    xbackground-color: #eee;
    overflow: hidden;
    border: 5px solid gray;
    
}


